@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


// Border Box Layout
body * {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
}

$main: #57F1BA;
$light-gray: #CFCFCF;
$medium-gray: #6F7774;
$blank: #1D201F;
$light-gray: #F6F6F6;
$white: #F4FFFB;



.discover-page {
    padding: 0px 150px;
}


// Navbar studd
.top-navbar-align {
    display: block;
    height: 80px;
    /* light-gray */   
    border-bottom: 0.5px solid #CFCFCF;
	padding: 0px 150px;
}
.top-navbar {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: space-between;
}
.navbarCompany {
	display: flex;
	gap: 22px;
	align-items: center;

	p {
		color: $blank;
		font-weight: 600;
		font-size: 20px;
	}
}
.navLogo {
	width: 41px;
}
.navSearchContainer {
	display: flex;
}
.navBarIcon {
	display: flex;
	justify-content: flex-end;
	border-radius: 1000px 0px 0px 1000px;
	height: 41px;
	width: 35px;
	background: #F7F7F7;
	font-size: 15px;
	color: $medium-gray;
	align-items: center;
}
.navSearch {
	height: 41px;
	width: 425px;
	color: $medium-gray;
	font-size: 15px;
	background: #F7F7F7;
	border-radius: 0px 1000px 1000px 0px;
	border: none;
	outline: none;
	padding-left: 10px;
}
.navAccount {
	display: flex;
	gap: 20px;
	align-items: center;

	img {
		width: 41px;
	}

	p {
		font-weight: 600;
		font-size: 18px;
		color: $blank;
	}
}
.fontAwesome { font-family: 'Helvetica', FontAwesome, sans-serif; }



.discover-sections-p {
    height: 39px;
    display: grid;
    place-items: center;
    margin-bottom: 91px;
}

.discover-sections {
	margin-top: 37px;
    display: flex;
    gap: 10px;
}

.discover-section {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */
    /* medium-gray */
    color: #6F7774;
	padding: 8px 12px;
	border-radius: 5px;
	transition: background 0.5s;
	cursor: pointer;

	&:hover {
		background: $light-gray;
	}
}

.listings {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.listing {
    position: relative;
    padding: 20px;
    width: 278px;
	height: max-content;
    /* Light-gray */
    background: #F7F7F7;
    border-radius: 25px;
    margin-bottom: 62px;
	cursor: pointer;
	
	&::after {
		display: flex;
		justify-content: center;
		align-items: center;
		content: "Check It Out";
		position: absolute;
		opacity: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $main;
		border-radius: 25px;
		transition: opacity 0.3s;
		font-weight: 800;
		font-size: 22px;
		color: $white;
	}

	&:hover::after {
		opacity: 1;
	}
}

.listing-title {
    height: 29px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 28px;
    /* identical to box height */
    /* Black */
    color: #1D201F;
    margin-bottom: 16px;
}

.listing-tags {
    width: 240px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 27px;
    gap: 5px;
}

.listing-tag {
    padding: 3px 10px 0px;
    height: 24px;
    /* main */
    background: #57F1BA;
    border-radius: 1000px;  
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    color: #FFFFFF;
}

.listing-description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* medium-gray */
    color: #6F7774;    
}

.listing-location, .listing-author {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    color: #6F7774;
    margin: 12px 0px;
}

.listing-location > span, .listing-author > span {
    font-weight: 600;
}

.signup {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 100%;
	background: $blank;

	h1 {
		font-weight: 700;
		font-size: 45px;
		color: $white;
	}
}
.signUpText {
	margin-top: 50px;
	font-weight: 400;
	font-size: 20px;
	line-height: 35px;
	color: $medium-gray;
	text-align: center;
	width: 100%;
	max-width: 540px;
}
.signupButton {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 65px;
	width: 200px;
	height: 60px;
	background: $main;
	border-radius: 5px;
	font-weight: 600;
	font-size: 18px;
	border: 2px solid $main;
	color: $white;
	cursor: pointer;
	transition: background 0.5s, color 0.5s;
	
	&:hover {
		background: none;
		color: $main;
	}

}
.signin {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 50%;

	h1 {
		font-weight: 700;
		font-size: 45px;
		color: $blank;
	}
}
.signupMain {
	display: flex;
	height: 115vh;
}
.loginMain {
	display: flex;
	height: calc(100vh - 80px);
	overflow-y: hidden;
}
.signinInputContainerText {
	display: flex;
	align-items: center;
	font-weight: 500;
	font-size: 22px;
	color: $blank;

	span {
		color: $medium-gray;
		font-weight: 500;
		font-size: 15px;
		margin-left: 5px;
	}
}
.signinInputContainer {
	margin-top: 40px;
}
.signinInput {
	margin-top: 9px;
	background: #F7F7F7;
	border-radius: 5px;
	width: 538px;
	height: 55px;
	color: $medium-gray;
	font-size: 18px;
	border: none;
	outline: none;
	padding-left: 27px;

	&::placeholder {
		color: #CFCFCF;
	}
}
.signinInputContainer2 {
	margin-top: 23px;
}
.signinButton {
	@extend .signupButton;
}
.navSignInButton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 125px;
	height: 41px;
	background: $main;
	border-radius: 5px;
	font-weight: 600;
	font-size: 16px;
	border: 2px solid $main;
	color: $white;
	cursor: pointer;
	transition: background 0.5s, color 0.5s;
	
	&:hover {
		background: none;
		color: $main;
	}
}
.signInInputRadios {
	margin-top: 23px;
	width: 540px;
}
.signInInputRadiosContainer {
	display: flex;
	flex-flow: column;
	margin-top: 15px;
	gap: 10px;
	font-weight: 500;
	font-size: 15px;
	color: $medium-gray;
}
.sisngInRadioButton {
	display: flex;
	align-items: center;
	gap: 11px;
}
.sisngInRadioButton input[type="radio"] {
	appearance: none;
	background-color: #fff;
	margin: 0;
	font: inherit;
	width: 12px;
	height: 12px;
	border-radius: 1000px;
	background: $main;
}
.sisngInRadioButton input[type="radio"] {
	display: grid;
	place-content: center;
}
.sisngInRadioButton input[type="radio"]::before {
	content: "";
	width: 6px;
	height: 6px;
	border-radius: 50%;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em $white;
}
  
.sisngInRadioButton input[type="radio"]:checked::before {
	transform: scale(1);
}


.listingMain {
	display: flex;
	height: calc(100vh - 80px);
	overflow: hidden;
}
.author {
	position: relative;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 35%;
	background: $blank;
	padding: 40px;
}
.listingCompanyImage {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 1000px;
}
.listingAuthorName {
	margin-top: 29px;
	font-weight: 600;
	font-size: 45px;
	color: $white;
}
.listingAuthorDescription {
	margin-top: 42px;
	max-width: 485px;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	color: $medium-gray;
	text-align: center;
}
.authorSocials {
	position: absolute;
	bottom: 40px;
	display: flex;
	justify-content: space-between;
	width: calc(100% - 80px);
}
.authorSocial {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 81px;
	height: 81px;
	background: $main;
	border-radius: 1000px;
	color: $white;
	font-size: 27px;
	border: 2px solid $main;
	transition: background 0.5s, color 0.5s;
	cursor: pointer;

	&:hover {
		background: none;
		color: $main;
	}
}
.listingDetails {
	padding: 120px 170px;

	h1 {
		font-weight: 700;
		font-size: 35px;
		color: $blank;
	}

}
.listingSkills {
	display: flex;
	gap: 13px;
	flex-wrap: wrap;
	margin-top: 25px;
}
.specific-listing-skill {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 34px;
	background: $main;
	border-radius: 1000px;
	font-weight: 500;
	font-size: 16px;
	color: $white;
}
.listingDetailDescription {
	margin-top: 37px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: $medium-gray;

	span {
		font-weight: 600;
	}
}
.listingContactButton {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
	width: 225px;
	height: 55px;
	border-radius: 10px;
	background: $main;
	border: none;
	outline: none;
	font-weight: 700;
	font-size: 18px;
	color: $white;
	margin-top: 75px;
	border: 2px solid $main;
	transition: background 0.5s, stroke 0.5s;
	cursor: pointer;
	stroke: $white;

	&:hover {
		background: none;
		color: $main;
		stroke: $main;
	}
}